---
layout: default
comments: true
---
<h1 class="post-title">{{ page.title }}</h1>
<div class="post-categories">
<span class="meta">
    
        {{ page.date | date: "%B" }}

  {% assign day = page.date | date: "%-d"  %}
{% case day %}
  {% when '1' or '21' or '31' %}{{ day }}st,
  {% when '2' or '22' %}{{ day }}nd,
  {% when '3' or '23' %}{{ day }}rd,
  {% else %}{{ day }}th,
{% endcase %}
    {{ page.date | date: "%Y" }}

<!--  {{ page.date | date: "%A, %B %-d, %Y" }}</span>-->
    &nbsp; Under:&nbsp;
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %},&nbsp;{% endunless %}
  {% endfor %}
</div>
<!--<p class="meta">{{ page.date | date_to_string }}</p>-->

<div class="post">
  {{ content }}
</div>

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; previous</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">next &raquo;</a>
  {% endif %}
</div>

{% if site.disqus.shortname %}
  {% include disqus_comments.html %}
{% endif %}     


